.sellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  width: 100%;
  gap: 20px;
}

.sellers__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sellers--title {
  font-family: monospace;
  font-weight: 600;
  font-size: 34px;
}

.sellers__cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    justify-content: center;
}