.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 150px;
  width: 100%;
  align-items: center;
}

.categories__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.categories--title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25%;
}

.categories__cont {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.categories__cart img {
  width: 200px;
  height: inherit;
}

.categories__cart {
  background-color: #0000000a;
  padding: 50px 100px;
  display: flex;
  border-radius: 10px;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.categories__cart__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.categories__cart--title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.25%;
  color: #2e2e2e;
  line-height: 20px;
}

.categories__cart__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.categories__cart--link {
  font-family: "monospace", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2e2e2e;
  line-height: 20px;
  letter-spacing: 1%;
}

.categories__cart--btn {
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  color: #00faeb;
  cursor: pointer;
}

.categories__cart:hover {
  box-shadow: 5px 2px 50px 5px black;

  box-shadow: 0px 10px 8px 0px #79636824;
}

@media (max-width: 412px) {
  .categories__cart {
    flex-direction: column;
    align-items: start;
    padding: 30px;
  }
}
