.shopmain {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 100px 100px;
  color: white;
  border-radius: 10px;
  gap: 20px;
}

.shopmain h3 {
  font-family: monospace, sans-serif;
  font-weight: 700;
  font-size: 60px;
}

.shopmain p {
  font-family: monospace, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #727272;
}
