@media (max-width: 1280px) {
  .bars {
    display: flex !important;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .header__bottom--btn {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .header--link {
    font-size: 12px !important;
  }

  .location {
    width: 120px !important;
    height: inherit;
  }

  .header--heart {
    width: 15px !important;
  }

  .header--heartt {
    width: 30px !important;
  }
  .header__input {
    padding-right: 0px !important;
    pad: 5px 10px !important;
    font-size: 14px;
  }
  .header-logo {
    width: 170px !important;
  }
}

@media (max-width: 912px) {
  .header1 {
    display: none !important;
  }
  .header2 {
    display: flex !important;
  }
}
